stages:
  - build
  - deploy

variables:
  # Tag image with short commit SHA for unique versioning
  IMAGE_TAG: $CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA
  LATEST_TAG: $CI_REGISTRY_IMAGE:latest

build:
  stage: build
  image: docker:20.10.16
  services:
    - docker:20.10.16-dind
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker build -t $IMAGE_TAG -t $LATEST_TAG .
    - docker push $IMAGE_TAG
    - docker push $LATEST_TAG

deploy:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add --no-cache openssh-client gettext
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config
  script:
    - echo "Deploying version $IMAGE_TAG to Swarm Manager at $SSH_HOST"
    # Substitute environment variables in docker-stack.yml
    - envsubst < docker-stack.yml > docker-stack.deployed.yml
    # Copy the processed stack file to the manager
    - scp docker-stack.deployed.yml $SSH_USER@$SSH_HOST:/tmp/docker-stack.yml
    # Deploy the stack on the manager
    - ssh $SSH_USER@$SSH_HOST "docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY && docker stack deploy --with-registry-auth -c /tmp/docker-stack.yml addrservice"
  only:
    - master
    - main
