---
- name: Configuration de l'accès Kubernetes pour le Runner GitLab
  hosts: k8s_master
  become: yes
  tasks:
    - name: Récupération de kubeconfig depuis le master
      fetch:
        src: /etc/kubernetes/admin.conf
        dest: /tmp/admin.conf
        flat: yes

- name: Distribution de Kubeconfig au Runner GitLab
  hosts: gitlab
  become: yes
  tasks:
    - name: Assurance des permissions du répertoire /etc/gitlab-runner
      file:
        path: /etc/gitlab-runner
        state: directory
        mode: '0755'

    - name: Création du répertoire kubeconfig pour gitlab-runner
      file:
        path: /etc/gitlab-runner/kubeconfig
        state: directory
        owner: gitlab-runner
        group: gitlab-runner
        mode: '0700'

    - name: Copie de kubeconfig pour gitlab-runner
      copy:
        src: /tmp/admin.conf
        dest: /etc/gitlab-runner/kubeconfig/config
        owner: gitlab-runner
        group: gitlab-runner
        mode: '0600'
