---
- name: Fetch Kubeconfig from Master
  hosts: k8s_master
  become: yes
  tasks:
    - name: Fetch kubeconfig to local tmp
      fetch:
        src: /root/.kube/config
        dest: /tmp/kubeconfig_fetched
        flat: yes

- name: Configure Kubeconfig on GitLab Runner
  hosts: gitlab
  become: yes
  tasks:
    - name: Create kubeconfig directory (legacy path)
      file:
        path: /etc/gitlab-runner/kubeconfig
        state: directory
        mode: '0755'
        owner: gitlab-runner
        group: gitlab-runner

    - name: Copy kubeconfig to runner (legacy path)
      copy:
        src: /tmp/kubeconfig_fetched
        dest: /etc/gitlab-runner/kubeconfig/config
        owner: gitlab-runner
        group: gitlab-runner
        mode: '0600'

    - name: Create .kube directory for gitlab-runner user
      file:
        path: /home/gitlab-runner/.kube
        state: directory
        mode: '0755'
        owner: gitlab-runner
        group: gitlab-runner

    - name: Copy kubeconfig to gitlab-runner home .kube
      copy:
        src: /tmp/kubeconfig_fetched
        dest: /home/gitlab-runner/.kube/config
        owner: gitlab-runner
        group: gitlab-runner
        mode: '0600'

    - name: Fix kubeconfig server address to use master IP
      shell: |
        MASTER_IP=$(grep -oP 'server: https://\K[^:]+' /home/gitlab-runner/.kube/config)
        echo "Kubeconfig points to: $MASTER_IP"
      become_user: gitlab-runner
      changed_when: false
