---
# Jeu 1 : Configuration du Serveur DNS sur la VM GitLab
- name: Configuration du Serveur DNS
  hosts: dns_server
  become: yes
  vars:
    dns_domain: "local"
    gitlab_ip: "{{ hostvars[groups['gitlab'][0]]['ansible_host'] }}"
    k8s_master_ip: "{{ hostvars[groups['k8s_master'][0]]['ansible_host'] }}"
    k8s_node1_ip: "{{ hostvars[groups['k8s_workers'][0]]['ansible_host'] }}"
    k8s_node2_ip: "{{ hostvars[groups['k8s_workers'][1]]['ansible_host'] }}"
  
  tasks:
    - name: Installation de dnsmasq
      apt:
        name: dnsmasq
        state: present
        update_cache: yes

    - name: Arrêt de systemd-resolved (conflit avec dnsmasq)
      service:
        name: systemd-resolved
        state: stopped
        enabled: no

    - name: Rendre resolv.conf modifiable avant suppression
      file:
        path: /etc/resolv.conf
        attributes: -i
      ignore_errors: yes

    - name: Suppression du stub systemd-resolved
      file:
        path: /etc/resolv.conf
        state: absent

    - name: Création d'un nouveau resolv.conf pour le serveur DNS
      copy:
        dest: /etc/resolv.conf
        content: |
          nameserver 8.8.8.8
          nameserver 8.8.4.4
        mode: '0644'

    - name: Configuration de dnsmasq avec enregistrements DNS personnalisés
      copy:
        dest: /etc/dnsmasq.d/custom.conf
        content: |
          # Activation des logs DHCP
          log-queries
          log-dhcp
          
          # Configuration du domaine
          domain={{ dns_domain }}
          expand-hosts
          
          # Enregistrements DNS pour l'infrastructure
          address=/gitlab.{{ dns_domain }}/{{ gitlab_ip }}
          address=/gitlab-server.{{ dns_domain }}/{{ gitlab_ip }}
          address=/k8s-master.{{ dns_domain }}/{{ k8s_master_ip }}
          address=/k8s-node-1.{{ dns_domain }}/{{ k8s_node1_ip }}
          address=/k8s-node-2.{{ dns_domain }}/{{ k8s_node2_ip }}
          
          # Serveurs DNS amont
          server=8.8.8.8
          server=8.8.4.4
          
          # Écoute sur toutes les interfaces
          listen-address=127.0.0.1
          listen-address={{ gitlab_ip }}
          
          # Ne pas transférer les requêtes pour le domaine local
          local=/{{ dns_domain }}/
        mode: '0644'
      register: dnsmasq_config

    - name: Configuration principale de dnsmasq
      lineinfile:
        path: /etc/dnsmasq.conf
        regexp: '^#?conf-dir='
        line: 'conf-dir=/etc/dnsmasq.d/,*.conf'
        state: present

    - name: Redémarrage du service dnsmasq
      service:
        name: dnsmasq
        state: restarted
        enabled: yes
      when: dnsmasq_config.changed

    - name: Assurance que dnsmasq est démarré
      service:
        name: dnsmasq
        state: started
        enabled: yes

    - name: Attente de la disponibilité de dnsmasq
      wait_for:
        port: 53
        host: "{{ gitlab_ip }}"
        timeout: 30

    - name: Test de la résolution DNS locale
      command: nslookup gitlab.{{ dns_domain }} 127.0.0.1
      register: dns_test
      changed_when: false
      failed_when: false

    - name: Affichage du résultat du test DNS
      debug:
        var: dns_test.stdout_lines

# Jeu 2 : Configuration des clients DNS sur toutes les VMs
- name: Configuration des Clients DNS
  hosts: all
  become: yes
  vars:
    dns_server_ip: "{{ hostvars[groups['gitlab'][0]]['ansible_host'] }}"
    dns_domain: "local"
  
  tasks:
    - name: Arrêt de systemd-resolved sur les clients
      service:
        name: systemd-resolved
        state: stopped
        enabled: no
      failed_when: false

    - name: Rendre resolv.conf modifiable avant suppression
      file:
        path: /etc/resolv.conf
        attributes: -i
      ignore_errors: yes

    - name: Suppression du resolv.conf existant
      file:
        path: /etc/resolv.conf
        state: absent

    - name: Création d'un nouveau resolv.conf pointant vers le serveur DNS
      copy:
        dest: /etc/resolv.conf
        content: |
          nameserver {{ dns_server_ip }}
          search {{ dns_domain }}
          options ndots:1
        mode: '0644'

    - name: Rendre resolv.conf immuable (empêcher l'écrasement)
      file:
        path: /etc/resolv.conf
        attributes: +i
      ignore_errors: yes

    - name: Installation des utilitaires DNS pour les tests
      apt:
        name:
          - dnsutils
          - iputils-ping
        state: present
        update_cache: yes

    - name: Test de la résolution DNS vers GitLab
      command: nslookup gitlab.{{ dns_domain }}
      register: gitlab_dns
      changed_when: false
      failed_when: false

    - name: Test de la résolution DNS vers K8s master
      command: nslookup k8s-master.{{ dns_domain }}
      register: k8s_dns
      changed_when: false
      failed_when: false

    - name: Affichage des résultats des tests DNS
      debug:
        msg:
          - "DNS GitLab : {{ gitlab_dns.stdout }}"
          - "DNS K8s Master : {{ k8s_dns.stdout }}"

    - name: Test de ping vers GitLab via le nom d'hôte
      command: ping -c 2 gitlab.{{ dns_domain }}
      register: ping_test
      changed_when: false
      failed_when: false

    - name: Affichage des résultats du ping
      debug:
        var: ping_test.stdout_lines
